@model TaskManagerCore.Models.PaginacionViewModel

<h2>To do list</h2>

<button id="toggle-dark-mode" class="btn btn-secondary">Dark Mode</button>


<div id="tareas-container">
    @await Html.PartialAsync("_TareasPartial", Model.Tareas) <!-- Esto debe ser correcto -->
</div>

@section Scripts {
    <script src="~/js/paginacion.js"></script>
    <script src="~/js/tareas.js"></script>
    <script src="~/js/darkMode.js"></script>
}

<form asp-action="Index" method="get" class="d-flex">
    <input type="Text" name="search" placeholder="Search by task name" class="form-control me-2" />
    <input type="submit" value="search" class="btn btn-primary" />
</form>

<div>
    @await Html.PartialAsync("_PaginacionPartial", Model.Paginacion) <!-- Asegúrate de que esto también es correcto -->
</div>

<a asp-controller="Tareas" asp-action="Create" class="btn btn-success">Add new task</a>